@import "../variables.scss";

.about {
  position: relative;
  padding: 0 30px;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
  }
}

.about__title {
  margin-top: 35px;
  font-size: 25px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
  padding: 0 50px;
  margin-top: 50px;
  margin-bottom: 43px;

  font-size: 43px;
  line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    margin-bottom: 40px;

    font-size: 53px;
    line-height: 57px;
  }
}

// .about__review {
//   @media (min-width: $desktop-width) {
//     padding: 0 50px;
//   }
// }
