@import "../variables.scss";

.about {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 161px;
  }
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
  font-size: 43px;
  line-height: 50px;
  padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }
}
