@import "../variables.scss";

.additional {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: flex;
  }

  @media (min-width: $tablet-width) {
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 225px 50px 97px;
  }
}

.additional__title {
  line-height: 16px;
  text-transform: uppercase;
  color: $light-green;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 30%;
  }

  @media (min-width: $desktop-width) {
    width: 18%;
  }
}

.additional__title::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 50%;
  left: 63px;
  background-color: $aquamarine;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.additional__name {
  width: 100%;
}

.additional__input {
  width: 100%;
  padding: 17px;
  border: 2px solid $grey;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
