@import "../variables.scss";

.additional__title {
  line-height: 16px;
  text-transform: uppercase;
  color: $light-green;
}

.additional__input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
