.button {
  text-align: center;
  min-height: 52px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;

  color: $grey;
  background-color: inherit;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: $grey;
  color: $white;
}

.button:active {
  color: $white-active;
}
