.catalog {
  max-width: 1150px;
  margin: 0 auto;
}

.catalog__list {
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.catalog__item {
  margin: 29px 0;
}
