.catalog {
  max-width: 1150px;
  margin: 0 auto;
}

.catalog__list {
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}

.catalog__item {
  margin: 29px 0;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }

  @media (min-width: $desktop-width) {
    max-width: 318px;
  }
}
