.communication {
  font-size: 15px;
  color: $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.communication__wrap {
  display: flex;

  @media (min-width: $tablet-width) and (max-width: $tablet-width) {
    width: 50%;
  }
}

.communication__name,
.communication__value {
  display: inline-block;
}

.communication__name {
  padding-right: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }
}

.communication__value {
  padding-left: 15px;
}

.communication__email {
  border-bottom: 1px solid $green-active;
  padding-bottom: 1px;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 9px;
  }
}

.communication__email:hover,
.communication__email:focus {
  color: $green-active;
}

.communication__email:active {
  border-bottom: 1px solid $green-active-opacity;
}
