.copyright {
  position: relative;
}

.copyright__title {
  display: inline-block;
  margin: 0 25px 0 19px;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
    margin-left: 0;
  }
}

.copyright__picture {
  position: absolute;
  top: 0;
  right: 19px;
  fill: $light-green;

  @media (min-width: $tablet-width) {
    top: 0;
    right: -30px;
  }
}

.copyright__picture:hover,
.copyright__picture:focus {
  fill: $green-active;
}

.copyright__picture:active {
  fill: $green-active;
  opacity: 0.3;
}
