.description {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
    margin-bottom: 35px;
  }
}

.description__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  line-height: 20px;
  font-weight: 700;
  list-style: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.description__item {
  position: relative;
  margin: 41px 0;
  padding-right: 10px;
  width: 50%;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin: 55px 0;
  }
}

.description__picture {
  fill: $light-green;
}

.description__item--first {
  position: relative;
  margin-top: 42px;
  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 55px;
  }
}

.description__item--first:before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  top: -53px;
  left: 8px;

  @media (min-width: $tablet-width) {
    top: -56px;
  }
}

.description__item--second {
  position: relative;
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.description__item--second:before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 27px;
  top: -52px;
  left: 0;
}

.description__item--third {
  position: relative;
  margin-top: 43px;
  @media (min-width: $tablet-width) {
    order: 5;
    margin-top: 56px;
  }
}

.description__item--third:before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  width: 34px;
  height: 27px;
  top: -49px;
  left: 8px;

  @media (min-width: $tablet-width) {
    top: -50px;
  }
}

.description__item--fourth {
  position: relative;
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.description__item--fourth:before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-feature-ball.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 34px;
  top: -50px;
  left: 3px;

  @media (min-width: $tablet-width) {
    top: -52px;
  }
}

.description__item--fifth {
  position: relative;
  @media (min-width: $tablet-width) {
    order: 4;
    margin-top: 57px;
  }
}

.description__item--fifth:before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  width: 55px;
  height: 23px;
  top: -48px;
  left: -6px;

  @media (min-width: $tablet-width) {
    top: -51px;
  }
}

.description__item--sixth {
  position: relative;
  margin-top: 43px;
  @media (min-width: $tablet-width) {
    order: 6;
    margin-top: 57px;
  }
}

.description__item--sixth:before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  width: 33px;
  height: 32px;
  top: -50px;
  left: 3px;

  @media (min-width: $tablet-width) {
    top: -55px;
  }
}
