.description {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    margin-bottom: 35px;
  }
}

.description__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  line-height: 20px;
  font-weight: 700;
  list-style: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.description__item {
  margin: 41px 0;
  padding-right: 10px;
  width: 50%;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin: 55px 0;
  }
}

