.e-mail {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    background-color: $steel;
    margin-top: 0;
  }
}

.e-mail__wrapper {
  @media (min-width: $tablet-width) {
    padding: 50px;
    padding-top: 22px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 225px 50px 112px;
  }
}

.e-mail__title {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  color: $light-green;
  position: relative;

  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 17px;
    width: 30%;
  }

  @media (min-width: $desktop-width) {
    width: 14%;
  }
}

.e-mail__title::after {
  content: "";
  position: absolute;
  width: 179px;
  height: 1px;
  top: 50%;
  left: 82px;
  background-color: $aquamarine;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.e-mail__name {
  position: relative;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
  }
}

.e-mail__input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  min-height: 52px;
  border: none;
  box-shadow: inset 0 -2px 0 $black;

  @media (min-width: $tablet-width) {
    padding-left: 17px;
    padding-bottom: 10px;

    font-size: 19px;

    background-color: inherit;
  }
}

.e-mail__input:hover,
.e-mail__input:focus {
  box-shadow: inset 0 -2px 0 $aquamarine;
}

.e-mail__name::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-mail.svg");
  width: 32px;
  height: 32px;
  right: 2px;
  bottom: -7px;
  filter: grayscale(100%);
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    right: 22px;
    bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    right: 3px;
    bottom: 8px;
  }
}

.e-mail__name:hover::after,
.e-mail__name:focus::after {
  filter: none;
  opacity: 1;
}
