.full-name__wrapper {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    padding: 50px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 225px 0 112px;
  }
}

.full-name__title {
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $light-green;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 18px;
    width: 23%;
  }

  @media (min-width: $desktop-width) {
    width: 14%;
  }
}

.full-name__title::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 50%;
  left: 63px;
  background-color: $aquamarine;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.full-name__wrap {
  @media (min-width: $tablet-width) {
    width: 77%;
    margin-top: 10px;
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 86%;
  }
}

.full-name__name {
  display: block;
  margin-bottom: 22px;
  width: 100%;
  cursor: pointer;

  line-height: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: 35px;

    font-size: 19px;
  }
}

.full-name__input {
  width: 100%;
  display: block;
  min-height: 52px;

  border: none;
  box-shadow: inset 0 -2px 0 $black;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
    padding-left: 20px;
    padding-bottom: 14px;
    width: 100%;
    min-height: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.full-name__input:hover,
.full-name__input:focus {
  box-shadow: inset 0 -2px 0 $aquamarine;
}

.full-name__input:active {
  background-color: inherit;
}
