.logo {
  height: 35px;
  display: block;
}

.logo__picture {
  display: block;
  margin: auto;
  height: 100%;
  fill: $black;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 22px;
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
    width: 149px;
    height: 72px;
  }
}

.logo__picture:hover,
.logo__picture:focus {
  opacity: 0.6;
}

.logo__picture:active {
  opacity: 0.3;
}

.logo__picture--footer {
  margin: 0;
  width: 101px;
  height: 34px;
}

.logo__picture--footer:hover,
.logo__picture--footer:focus {
  fill: $green-active;
  opacity: 1;
}

.logo__picture--footer:active {
  fill: $green-active;
  opacity: 0.3;
}
