.map {
  text-align: center;
}

.map__picture {
  width: 320px;
  height: 454px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
  }
}

.map__icon {
  z-index: -1;
  position: absolute;
  top: 31%;
  left: 43%;
  width: 67px;
  height: 100px;

  @media (min-width: $tablet-width) {
    top: 30%;
    left: 47%;
  }

  @media (min-width: $desktop-width) {
    top: 32%;
    left: 43%;
  }
}

.map__container {
  position: relative;
  min-height: 454px;
}

.map__image{
  z-index: -1;
  position: absolute;
  width: 320px;
  height: 454px;
  left: calc(50% - 160px);
  top: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;
    left: calc(50% - 384px);
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
    left: 12px;
  }
}
