@import "../variables.scss";

.nav-list {
  // display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.nav-list__item {
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 79px;

  box-shadow: 0px 1px 0px $dark-steel, inset 0px 1px 0px $dark-steel;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.nav-list__link {
  display: block;
  height: 100%;
  margin-left: 76px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.nav-list__item--catalog {
  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 45px;
  }
}
