.order__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}

.order__reminder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: $grey;

  @media (min-width: $tablet-width) {
    order: 1;

    font-size: 17px;
  }
}

.order__button {
  margin-top: 18px;
  width: 100%;

  font-size: 17px;
  border: 2px solid $grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: fit-content;
    min-width: 230px;
  }
}
