.page-main__name {
  font-size: 27px;
  font-weight: 700;
  text-align: center;

  background-color: $steel;
}

.page-main__catalog {
  padding: 0 30px;
}

.page-main__production {
  padding: 30px;
}
