.page-footer {
  margin-top: 39px;

  background-color: $steel;

  @media (min-width: $tablet-width) {
    margin-top: 37px;
  }
}

.page-footer__wrapper {
  padding: 0 50px;
  display: grid;
  min-height: 160px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    padding: 50px 79px 0 50px;
    min-height: 143px;
    grid-template-columns: min-content 1fr min-content;
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer__logo {
    display: none;
  }
}
