.phone {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    background-color: $steel;
  }
}

.phone--wrapper {
  @media (min-width: $tablet-width) {
    padding: 50px;
    padding-bottom: 0;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 225px 12px 112px;
  }
}

.phone__title {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  color: $light-green;
  position: relative;

  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 12px;
    width: 30%;
  }

  @media (min-width: $desktop-width) {
    width: 14%;
  }
}

.phone__title::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 50%;
  left: 63px;
  background-color: $aquamarine;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.phone__name {
  position: relative;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
  }
}

.phone__input {
  width: 100%;

  font-family: inherit;
  font-size: 19px;
  line-height: inherit;

  min-height: 52px;
  border: none;
  box-shadow: inset 0 -2px 0 $black;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-bottom: 10px;

    background-color: inherit;
  }
}

.phone__input:hover,
.phone__input:focus {
  box-shadow: inset 0 -2px 0 $aquamarine;
}

.phone__name::after {
  z-index: 1;
  content: "";
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  width: 24px;
  height: 24px;
  right: 8px;
  bottom: 2px;
  filter: grayscale(100%);
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    right: 28px;
    bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    right: 8px;
    bottom: 17px;
  }
}

.phone__name:hover::after,
.phone__name:focus::after {
  filter: none;
  opacity: 1;
}
