.production {
  margin-top: 30px;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    margin: 25px auto 105px auto;
  }
}

.production:hover,
.production:focus {
  box-shadow: 0px 6px 10px $black-active;
}

.production:active {
  box-shadow: 0px 3px 5px $black-active;
}

.production--wrapper {
  margin-top: 35px;
  border: 1px solid $dark-steel;

  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 65% 35%;
  }
}

.production__title:before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-video.svg);
  fill: $light-green;
  width: 32px;
  height: 32px;
  top: 12px;
  left: -48px;

  @media (min-width: $tablet-width) {
    top: 14px;
    left: -55px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: 10px;
  }
}

.production__title {
  position: relative;
  margin-left: 80px;
  padding: 10px;
  padding-top: 5px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-left: 95px;
    padding: 22px 10px 5px 10px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin: 20px 50px 0 60px;
    padding-top: 75px;
  }
}

.production__video {
  width: 100%;
  order: -1;

  @media (min-width: $desktop-width) {
    grid-row: 1/4;
  }
}

.production__description {
  margin-top: 35px;
  padding-left: 34px;

  font-size: 13px;
  line-height: 24px;
  color: $grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin: 0 50px 10px 30px;
  }
}

.production__button {
  display: block;
  margin: 41px auto 33px auto;

  min-width: 192px;

  @media (min-width: $tablet-width) {
    margin: 41px 42px 46px 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    margin-bottom: 60px;

    width: fit-content;
    height: fit-content;
    min-width: 230px;
  }
}

