.review {
  display: grid;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    min-height: 457px;

    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/review@2x.jpg);
      background-size: 45.5%;
    }
  }

  @media (min-width: $desktop-width) {
    background-position: 50px 0;
    padding-left: 225px;
    background-size: 35%;
  }
}

.review__title {
  margin: 0;
  margin-top: 2px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    margin-top: 85px;
    margin-bottom: 6px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
    margin-bottom: 0;

    font-size: 53px;
    line-height: 57px;
  }
}

.review__text {
  font-size: 15px;
  color: $grey;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.review__author {
  display: flex;
  flex-direction: column;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    grid-row: 3;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
  }
}

.review__name {
  line-height: 24px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.review__username {
  margin-top: 5px;
  display: block;

  color: $grey;
  font-style: normal;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }
}

.review__button {
  display: flex;
  margin: 30px 0;

  @media (min-width: $tablet-width) {
    grid-row: 3;
    grid-column: 2;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-bottom: 39px;
  }
}

.review__button--back,
.review__button--forward {
  display: inline-block;
  width: 50%;
  border: 1px solid $dark-steel;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
    padding: 14px;
    padding-top: 0;
    margin-right: 9px;
  }
}

.review__button--back {
  padding-left: 0;
}

.review__button--forward {
  padding-right: 10px;
}

.review__button--back:hover,
.review__button--back:focus,
.review__button--forward:hover,
.review__button--forward:focus {
  background-color: inherit;
  opacity: 0.6;
}

.review__button--back:active,
.review__button--forward:active {
  opacity: 0.3;
}

.review__add {
  display: block;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column: 2;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: auto;
    min-width: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}

.review__write-us {
  width: 100%;
}
