.subjects {
  display: flex;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  background-color: $light-green;

  @media (max-width: $mobile-width-only) {
  display: block;
  }

  @media (min-width: $tablet-width) {
    margin: 0 50px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.subjects__interior,
.subjects__toys {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 103px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
    min-height: 119px;
  }
}

.subjects__interior {
  background-color: $light-green;
}

.subjects__toys {
  background-color: $dark-aquamarine;
}

.subjects__picture {
  position: absolute;
  fill: #149080;
  opacity: 0.5;
}

.subjects__picture--interior {
  right: 35px;
  top: 25px;

  @media (min-width: $tablet-width) {
    top: 29px;
  }
}

.subjects__picture--toys {
  right: 28px;
  top: 22px;

  @media (min-width: $tablet-width) {
    right: 35px;
    top: 30px;
  }
}

.subjects__link {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px 30px;

  @media (min-width: $tablet-width) {
    padding: 25px 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 37px;
  }
}

.subjects__link:hover,
.subjects__link:focus {
  background-color: $green;
  padding-bottom: 10px;
  min-height: 124px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}

.subjects__link:hover .subjects__picture,
.subjects__link:focus .subjects__picture {
  opacity: 0.7;
}

.subjects__link:active .subjects__picture {
  opacity: 0.3;
}

.subjects__link--toys:hover,
.subjects__link--toys:focus {
  background-color: $green-active;
}
