.subjects {
  display: flex;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  background-color: $light-green;

  @media (max-width: $mobile-width-only) {
  display: block;
  }

  @media (min-width: $tablet-width) {
    margin: 0 50px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.subjects__interior,
.subjects__toys {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  min-height: 103px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 5px 37px;

    min-height: 119px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 37px;
  }
}

.subjects__interior {
  background-color: $light-green;
}

.subjects__toys {
  background-color: $dark-aquamarine;
}

.subjects__link {
  display: block;
  height: 100%;
}

