.table {
  border-collapse: collapse;
}

.table__data {
  padding: 10px 0;
  border-bottom: 1px solid $dark-steel;

  @media (min-width: $desktop-width) {
    padding: 11px 0;
  }
}

.table__value {
  padding-left: 16px;
  border-bottom: 1px solid $dark-steel;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
