.user-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-list--mobile {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.user-list__item {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 12px;
  min-height: 79px;

  box-shadow: 0 1px 0 $dark-steel, inset 0 1px 0 $dark-steel;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    padding-top: 10px;

    min-height: 89px;
  }
}

.user-list__link {
  position: relative;
  display: block;
  margin-left: 22%;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.user-list__link:hover,
.user-list__link:focus {
  opacity: 0.6;
}

.user-list__link:active {
  opacity: 0.3;
}

.user-list__item--search {
  @media (min-width: $tablet-width) {
    min-width: 83px;
    padding-bottom: 0;
    border-left: 1px solid $black-active;
  }
}

.user-list__item--cart {
  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 83px;
    border-left: 1px solid $black-active;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 84px;
  }
}

.user-list__picture {
  position: absolute;
  top: 3px;
  fill: $black;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    margin-right: 31px;
  }
}

.user-list__picture:hover,
.user-list__picture:focus {
  fill: $light-green;
  opacity: 1;
}

.user-list__picture:active {
  fill: $light-green;
  opacity: 0.3;
}

.user-list__picture--search {
  left: -45px;
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    left: -8px;
    top: -15px;
  }

  @media (min-width: $desktop-width) {
    left: -10px;
  }
}

.user-list__picture--cart {
  left: -47px;
  width: 21px;
  height: 18px;

  @media (min-width: $tablet-width) {
    left: -52px;
  }

  @media (min-width: $desktop-width) {
    left: -54px;
    top: 2px;
  }
}

.user-list__text--search {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
