.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.user-list__item {
  padding: 10px;
}
