.video {
  position: relative;
}

.video__poster {
  width: 100%;
  height: auto;
  display: block;
}

.video__main {
  display: none;
}

.video__button {
  content: "";
  position: absolute;
  width: 100px;
  height: 77px;
  top: calc(50% - 37px);
  left: calc(50% - 50px);
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.video__icon {
  content: "";
  position: absolute;
  width: 100px;
  height: 77px;
  top: calc(50% - 40px);
  left: calc(50% - 50px);
}

.video__icon:hover,
.video__icon:focus {
  width: 121px;
  height: 92px;
  top: calc(50% - 46px);
  left: calc(50% - 60px);
}

.video__icon:active {
  width: 81px;
  height: 62px;
  opacity: 0.3;
  top: calc(50% - 36px);
  left: calc(50% - 40px);
}
