.video {
  position: relative;
}

.video__poster {
  width: 100%;
  height: auto;
  display: block;
}

.video__main {
  display: none;
}

.video__button {
  content: "";
  position: absolute;
  width: 100px;
  height: 77px;
  top: calc(50% - 38px);
  left: calc(50% - 50px);
}
